# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib
*.ilk

# Executables
*.exe
*.out
*.app
*.tlog
*.log
*.idb
*.pdb
*.exp
*.opendb
.vs/Erebus/v14/.suo
AGI/x64/Debug/AGI.log
Erebus/x64/Debug/Erebus.log
Gear/x64/Debug/Gear.log
Importer/x64/Debug/Importer.log
Nurn/x64/Debug/Nurn.log
